@import 'vars';
@import "@fontsource/inter";

$family-primary: 'Inter';
$primary: $bl-primary;
// $text: black;
$dropdown-item-active-background-color: $bl-primary;

@import 'bulma/bulma';

.input {
	box-shadow: none;
}

hr {
	background: $bl-background-light;
}

// Markdown
.content {
	h2 {
		border-bottom: 1px solid $grey-lighter;
		padding-bottom: 0.4rem;
	}

	.astro-code {
		border-radius: 5px;
	}
}

// Import only what you need from Bulma
// @import "../node_modules/bulma/sass/utilities/_all.sass";
// @import "../node_modules/bulma/sass/base/_all.sass";
// @import "../node_modules/bulma/sass/elements/button.sass";
// @import "../node_modules/bulma/sass/elements/container.sass";
// @import "../node_modules/bulma/sass/elements/title.sass";
// @import "../node_modules/bulma/sass/form/_all.sass";
// @import "../node_modules/bulma/sass/components/navbar.sass";
// @import "../node_modules/bulma/sass/layout/hero.sass";
// @import "../node_modules/bulma/sass/layout/section.sass";
// @import "../node_modules/bulma/sass/components/breadcrumb.sass";
// @import "../node_modules/bulma/sass/layout/footer.sass";
// @import "../node_modules/bulma/sass/elements/content.sass";
// @import "../node_modules/bulma/sass/helpers/typography.sass";
// @import "../node_modules/bulma/sass/components/card.sass";
// @import "../node_modules/bulma/sass/grid/columns";
// @import "../node_modules/bulma/sass/helpers/color.sass";
// @import "../node_modules/bulma/sass/elements/tag.sass";



// Import navbar transition
// @import "../styles/navbar-transition.scss";