---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "About Me";
const happy = true;
const finished = true;
const goal = 3;

const identity = {
  firstName: "first",
  country: "last",
  occupation: "Technical Writer",
  hobbies: ["running", "birdwatching", "baseball"],
};

const skills = [
	'JavaScript',
	'TypeScript',
	'Python',
	'HTML',
	'Pug',
	'CSS',
	'SCSS',
	'SASS',
	'SQL',
	'MySQL',
	'Postgres',
	'Cypress',
	'Vue.js',
	'Astro',
	'Express',
	'NestJS',
	'TypeORM',
	'MikroORM',
	'Prisma',
	'Flask',
	'FastAPI',
	'Docker',
	'Avalara',
	'NetSuite',
	'TSYS',
	'NGINX',
];

const skillTree = {
	'Languages': ['JavaScript', 'TypeScript', 'Python', 'C#'],
	'Frontend': ['Vue.js', 'Astro'],
	'Backend': ['Express', 'NestJS', 'ASP.NET'],
	'Python': ['Flask', 'FastAPI', 'Web2Py'],
	'Styling': ['CSS', 'SCSS', 'SASS'],
	'Templating': ['Pug', 'Jinja2', 'JSX'],
	'Databases': ['MySQL', 'Postgres', 'Redis'],
	'ORM': ['TypeORM', 'MikroORM', 'Prisma'],
	'Cloud': ['Docker', 'Vagrant', 'NGINX'],
	'Testing': ['Cypress', 'Jest'],
	'Accounting': ['Avalara', 'NetSuite', 'QuickBooks'],
	'Payments': ['TSYS', 'Merchantware', 'Cayan', 'Stripe'],
	'CRM': ['SalesForce', 'HubSpot'],
};

---

<BaseLayout pageTitle={pageTitle}>
<div class="about-page">
	<!-- <h2 class="title">About Me</h2> -->
	<!-- <div class="contact-info">
		
	</div> -->

	<h2 class="title">Contact</h2>
	<div class="contact-info">
		<p>You can find me on the following platforms:</p>
		<div class="social">
			<div>
				<a id="linkedin-link-contact" class="button is-ghost" href="https://linkedin.com/in/">...</a>
			</div>

			<div>
				<a id="github-link-contact" class="button is-ghost" href="https://github.com/">...</a>
			</div>
			<div>
				<a id="gitlab-link-contact" class="button is-ghost" href="https://gitlab.com/">...</a>
			</div>
		</div>
	</div>

	<h2 class="title">Skills</h2>
	{Object.keys(skillTree).map((category) => (
		<div class="skill-container">
			<p class="skill-heading">{category}</p>
			{skillTree[category].map((skill) => <a class="tag is-link is-medium" href={`/tags/${skill.toLowerCase()}`}>{skill}</a>)}
		</div>
	))}
</div>
</BaseLayout>

<style lang="scss" scoped>
@import "bulma/sass/utilities/initial-variables.sass"; // breakpoints
@import "../styles/vars.scss";

.about-page {
	margin: $bl-page-margin;
	min-height: 100dvh;
}


.skill-container {
	margin-bottom: 1rem;
	
	.tag {
		margin-right: 0.5rem;
	}
}

.contact-info {
	margin-bottom: 2rem;
}

.social {
	display: flex;
	flex-direction: column;

	.button {
		padding: 0;
	}
}
</style>

<script>
	import replaceLinkTags from '../scripts/socials';
	setTimeout(() => {
		replaceLinkTags('contact')
	}, 500)
</script>