---

---

<style lang="scss" scoped>
.footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: baseline;
}
</style>

<footer class="footer">
	<a class="button is-ghost" href="https://linkedin.com/in/raed-dfw">linkedin</a>
	<a class="button is-ghost" href="https://github.com/rahmedd">github</a>
	<a class="button is-ghost" href="https://gitlab.com/rahmedd/">gitlab</a>
	<!-- <a class="button is-ghost" href="https://www.medium.com">medium</a> -->
	<!-- <a class="button is-ghost" href="https://www.dev.to">dev.to</a> -->
</footer>
