---
---

<!-- <div class="nav-links">
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
  <a href="/tags/">Tags</a>
</div> -->
<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<!-- <a class="navbar-item" href="https://bulma.io">
			<img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
		</a> -->

		<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div id="navbarBasicExample" class="navbar-menu">
		<div class="navbar-start">
			<a class="navbar-item" href="/">
				home
			</a>

			<a class="navbar-item" href="/about/">
				about
			</a>

			<a class="navbar-item" href="/blog/">
				blog
			</a>

			<a class="navbar-item" href="/tags/">
				tags
			</a>

			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link">
					projects
				</a>

				<div class="navbar-dropdown">
					<a class="navbar-item" href="/posts/2024-02-16-contacts">
						Contacts
					</a>
					<a class="navbar-item" href="/posts/2024-02-18-infrastructure">
						Infrastructure
					</a>
					<a class="navbar-item" href="/posts/2023-11-07-vue-3-form-validation-and-components">
						Vue 3 form validation and components
					</a>
				</div>
			</div>
		</div>
	</div>
</nav>

<style lang="scss" scoped>
@import "bulma/sass/utilities/initial-variables.sass"; // breakpoints
@import "../styles/vars.scss";

@media screen and (max-width: $tablet) {
	// the same as class="navbar-dropdown is-right"
	.navbar-dropdown {
		left: auto !important;
		right: 0 !important	;
	}
}

</style>